h1{
  position: absolute;
  width: 779px;
  height: 111px;
  left: 336px;
  top: 31px;

  font-family: 'DM Serif Display';
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 123px;
  text-align: center;

  color: #000000;
}
h2{
  position: absolute;
  width: 690px;
  height: 34px;
  left: 375px;
  bottom: 650px;

  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 54px;
  /* or 98% */

  text-align: center;

  color: #000000;
}
img{
  position: absolute;
width: 196px;
height: 148px;
left: 36px;
top: 41px;

background: url(image.png);
}
